* {
  font-family: 'Lexend', sans-serif;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 350px;
  /* align-items: center; */
  border-radius: 20px;
  overflow: hidden;
  background: #2f2f2f;
  color: whitesmoke;
}

.info-section {
  width: 350px;
  /* border: 1px solid red; */
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 350px;
  height: 350px;
  /* padding: 0px;
  margin: 0px; */
}

.name {
  margin: 0;
  color: whitesmoke;
}

.position {
  margin: 2px;
  color: cadetblue;
}

.portfolio-link {
  margin: 2px 0px 4px 0px;
  text-decoration: none;
  color: darkcyan;
}

.button-section {
  width: 300px;
  display: flex;
  justify-content: center;
}

button {
  padding: 6px 20px;
  margin: 2px 2px;
  border-radius: 4px;
}

button.primary {
  background: darkcyan;
  border: darkcyan 1px solid;
  color: whitesmoke;
}

button.secondary {
  background: whitesmoke;
  border: darkcyan 1px solid;
  color: darkcyan;
}

.heading {
  margin: 0;
  font-size: 7;
  font-weight: 500;
}

p {
  margin: 0;
  font-weight: 200;
  font-size: small;
}

.about-section {
  padding: 5px 15px;
}

.interests-section {
  padding: 5px 15px;
}

.footer {
  display: flex;
  justify-content: center;
  background: #202020;
  padding: 10px;
  width: 100%;
}

.footer > a {
  width: 30px;
  height: 30px;
  background: darkcyan;
  border-radius: 5px;
  margin: 0px 4px
}